/******************************************************
GENERAL
*******************************************************/
* {
	box-sizing: border-box;
}


body {
	font-family: 'Montserrat', sans-serif;
	background-img: url("img/background-color.jpg");
}

#wrapper {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
}

a {
	text-decoration:none;
}

img {
	max-width: 100%;
}

h3 {
	margin: 0 0 1em 0;
}
/******************************************************
HEADING
*******************************************************/

header {
	margin:0 0 100px 0;
	padding:5px 0 0 0;
	float:left;
	width:100%;

	
}

#logo {
  text-align:center;
  margin:0;
}

.header1 {
	font-family: 'Roboto Condensed', sans-serif;
	 color:white; 
	margin: 1px 0;
	font-size: 5.75em;
	font-weight: normal;
	text-shadow: 2px 5px 10px #000;
}

.designer {
	color:white;
	font-size: 30px;
	margin-top: 15px 0 0 0;
	padding: 0 0 0 0;
	text-shadow: 2px 3px 5px #000;
	position: absolute;
	top:auto;
	
}


/******************************************************
NAVIGATION
*******************************************************/

nav {
	text-align: center;
	padding:10px;
	margin: 20px 0 0;
}

nav ul {
	list-style:none;
	margin:0 10px;
	padding:0;
}


nav a {
	font-weight:800;
	margin:0;
	padding:15px 10px;
}

nav li {
	display:inline-block;
}

nav a:hover {

	font-size:1.25em;
	margin:0 10px 0 10px;
	padding:15px 10px;
}
/******************************************************
FOOTER
*******************************************************/

footer {
	font-size: 0.75em;
	text-align: center;
	padding-top:50px;
	color: #ccc;
	clear:both;
}

.social-logo {
	height:20px;
	width:20px;
	padding:0 5px;
}
	
.social-logo a img:hover {
	height:10px;
	width:10px;
}

/******************************************************
GALLERY
*******************************************************/
#Gallery {
	list-style: none;
	margin: 0;
	padding: 0%;
	
}

#Gallery li {
	width:45%;
	margin:2.5%;
	float:left;
	background-color: #f5f5f5;
	color: #bdc3c7;
}

#Gallery li a p {
	margin:0;
	padding: 5%;
	font-size: .75em;
	color: black;
}

#Gallery li:nth-child(4n) {
	clear:left;
}



#Gallery li:nth-child(8n) {
	clear:right;
} 

#Gallery li:nth-child(12n) {
	clear:right;
}

/******************************************************
PAGE:ABOUT
*******************************************************/
.profile-photo {
	display: block;
	max-width:150px;
	margin: 0 auto 30px;
	border-radius: 100%;

}

/******************************************************
PAGE:CONTACT
*******************************************************/
.contact-info {
  list-style:none;
  padding:0;
  margin:0;
  font-size: 0.9em;
}

.contact-info a {

  min-height: 20px;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  padding: 0 0 0 30px;
  margin: 0 0 10px ;
  
}

.contact-info li.phone a{
  background-image: url('../img/phone.png');
 
}

.contact-info li.mail a{
  background-image: url('../img/mail.png');
}

.contact-info li.twitter a{
  background-image: url('../img/twitter.png');
}



/******************************************************
COLORS
*******************************************************/
/* Site body */
body {
	background-color: #F0F0F0  ;
	color: #999;
}

/* Green header*/
header {

}

/* Nav background on mobil devices*/
nav {
  background:#ffb452;
}

/* Logo Text */
h1, h2 {
  color:#fff;
}


/* Links */
a {
  color:#6ab47b;
}

/* Nav link */
nav a, nav a:visited {
  color:#fff;
}

/* Selected Nav link */
nav a.selected, nav a:hover {
	color: #white;
	text-shadow: 2px 3px 6px #000;
}
.head {
	border-bottom: 1px solid grey;
	background:
	linear-gradient(to top, #f1c8a8, transparent 90%),
	linear-gradient(0deg, #fff, transparent),
	url("../img/mother nature.jpg");

	background-size:cover;
	margin-bottom:110px;
	padding-bottom:800px;
}

.about-background{
	border-bottom: 1px solid grey;
	background:
	linear-gradient(to top, #190e88, transparent 90%),
	linear-gradient(0deg, #fff, transparent),
	url("../img/new planet.jpg");

	background-size:cover;
	margin-bottom:110px;
	padding-bottom:800px;
}

.contact-background {
	border-bottom: 1px solid grey;
	background:
	linear-gradient(to top, #190e88, transparent 90%),
	linear-gradient(0deg, #fff, transparent),
	url("../img/nuked world.jpg");

	background-size:cover;
	margin-bottom:110px;
	padding-bottom:800px;
}


.arrow {
	color:red;
	width:100px;
    position: absolute;
   top: 88%;
   left: 50%;

	
}

.group:after {
  content: "";
  display: table;
  clear: both;
}